//npm run css:watch

@import "nav";
@import "layout";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --dark-blue: #2A324B;
    --blue: #58699D;
    --light-grey: #E1E5EE;
    --white: #fff;
    --black: #001;
}

body {
    margin: 8rem;
    background-color: var(--light-grey);

    font-family: 'Montserrat', sans-serif;

    main {
        padding: 4rem;
        background-color: var(--white);
    }
}


